<div class="background">
    Admin
    <br>
    <div class="panel"><a class="button" routerLink="/add-product">Add Product</a></div>
    <div class="panel"><a class="button" routerLink="/delete-product">Delete Product</a></div>
    <div class="panel"><a class="button" routerLink="/update-product">Update Product</a></div>
    <div class="panel"><a class="button" routerLink="/retrieve-products">Retrieve Products</a></div>
    <div class="panel"><a class="button" routerLink="/view-requests">View Requests</a></div>
    <div class="panel"><a class="button" routerLink="/add-employee">Add Employee</a></div>
    <div class="panel"><a class="button" routerLink="/delete-employee">Delete Employee</a></div>
    <div class="panel"><a class="button" routerLink="/generate-reports">Generate Reports</a></div>
    <hr>
</div>