<div>
    <h2>Update Product Using PId</h2>
    <form #productRef="ngForm" (ngSubmit)="updateProduct(productRef.value)">
        <table>
            <tr>
                <td><label>Product Id</label></td>
                <td><input type="text" name="pid" ngModel/><br/></td>
            </tr>
            <tr>
                <td><label>Price</label></td>
                <td><input type="text" name="price" ngModel/><br/></td>
            </tr>
            <tr>
                <td><label>Quantity</label></td>
                <td><input type="text" name="quantity" ngModel/><br/></td>
            </tr>
            <tr>
                <td><label>Description</label></td>
                <td><input type="text" name="desc" ngModel/><br/></td>
            </tr>
            <tr>
                <td><label>Image URL</label></td>
                <td><input type="text" name="imageUrl" ngModel/><br/></td>
            </tr>
        </table>

        <input type="submit" class="btn btn-primary" value="Update Product"/>
    </form>
    {{updateMsg}}
</div>