<div class="background">
    <br>
    <div class="panel"><a class="button" routerLink="/cart">Cart</a></div>
    <div class="panel"><a class="button" routerLink="/orders">Order Status</a></div>
    <div class="panel"><a class="button" routerLink="/profile-info">Edit Profile</a></div>
    <div class="panel"><a class="button" routerLink="/add-funds">Add funds</a></div>
    <hr>

    <!-- <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link {{isActive1}}" aria-current="true" (click)="toggleActive(1)" routerLink="/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{isActive2}}" (click)="toggleActive(2)" routerLink="/orders">Order Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{isActive3}}" (click)="toggleActive(3)" routerLink="/profile-info">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{isActive4}}" (click)="toggleActive(4)" routerLink="/add-funds">Add Funds</a>
              </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <router-outlet></router-outlet>
        </div>
      </div> -->
  </div>
